body {
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* Main */
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.title {
  font-family: sans-serif;
  /* font-family: 'Shizuru', cursive; */
  font-size: 18px;
}

.multicolortext {
  background-image: linear-gradient(to right, rgb(77, 155, 164), #1a62ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Body */
.main {
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* Sidebar */
#side-bar {
  /* height: 100%; */
  margin-top: 1.7em;
  width: 20%;
  height: 1080px;
  /* border: 1px solid grey; */
  overflow: auto;
  /* max-height: 800px;
  overflow-y: scroll;   */
}

#side-bar h1 {
  margin-bottom: 0;
}

#side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Mainbody */
.mainbody {
  width: 90%;
  display: flex;
  justify-content: center;
}

.searchbar {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.searchbar input {
  width: 60%;
  height: 40px;
  border-radius: 7px;
  padding-left: 50px;
  border-width: 0px;
  border: none;
  background-image: url("https://static.thenounproject.com/png/101791-200.png");
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 20px;
  outline: none;
}

.searchbar input:hover {
  box-shadow: 1px 3px #d6d5d5;
}

.searchbar-div {
  z-index: 1;
  color: antiquewhite;
  border: 1px solid #d6d5d5;
  border-radius: 25px;
  background-image: linear-gradient(
    to bottom right,
    rgb(77, 155, 164),
    #1a62ff,
    #8b3dff
  );
  /* background-color: #61dafb; */
  width: 100%;
  height: 30.6%;
  margin: 1.3em;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  /* padding-right: 40px; */
  padding-left: 17%;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 110px;
}

@media screen and (max-width: 1300px) {
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    padding-left: 3.4%;
    margin-top: 7px;
    margin-left: 130px;
    margin-bottom: 85px;
  }
}

.icons div {
  width: 70%;
  padding-left: 38px;
}

.icon_area {
  border: 1px solid #d6d5d5;
  background: white;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  z-index: 1;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.temp {
  position: fixed;
  margin-left: 31%;
  margin-right: 31%;
  margin-top: 7%;
  z-index: 3;
}

.closePopUp {
  position: fixed;
  margin-left: 31%;
  margin-right: 31%;
  margin-top: 7%;
  opacity: 0;
}

/* Lawyer button */

/* Main Body questions */
/* .main-area {
  width: 100%;
display: felx;
  justify-content: column;
} */

.message-body {
  margin-left: 20%;
  border-radius: 25px;
  margin-right: 31%;
  margin-top: 25%;
  padding-left: 270px;
  padding-right: 485px;
  position: fixed;
  background-color: blue;
  border: 1px solid black;
}

/* Faq area */
#faq-area {
  color: white;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  width: 78%;
  height: 76%;
  margin-top: 24em;
  margin-left: 2em;
  margin-right: 2em;
  /* padding-bottom: 5em; */
  border-radius: 25px;
  background-color: #f0f0f0;
  overflow: auto;
}

@media (max-width: 1300px) {
  #faq-area {
    color: white;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    width: 78%;
    height: 110%;
    margin-top: 24em;
    margin-left: 2em;
    margin-right: 2em;
    /* padding-bottom: 5em; */
    border-radius: 25px;
    background-color: #f0f0f0;
    overflow: auto;
  }
}

.faq-body_disappear {
  position: fixed;
  width: 0px;
  height: 0px;
  opacity: 0%;
  z-index: 0;
}

.faq_close-btn {
  margin-top: 8px;
  width: 20px;
  height: 20px;
  margin-left: 97%;
  z-index: 0;
}

.faq_popup-article {
  background-color: #ffffff;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}
