#show-popup {
  background: white;
  width: 580px;
  height: 440px;
  border: 1px solid #d6d5d5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lawyer-pic {
  width: 130px;
  height: 130px;
  border-radius: 50px;
}

.close-btn {
  margin-top: 8px;
  width: 20px;
  height: 20px;
  margin-left: 93%;
}

.close {
  width: 100%;
}

.desCription {
  width: 95%;
  height: 120px;
  max-height: 120px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  padding-left: 4px;
  overflow: auto;
  margin-bottom: 1.4em;
}

.popup-btn {
  color: white;
  border: 1px solid;
  width: 138px;
  max-width: 138px;
  height: 45px;
  max-height: 45px;
  background: #1757f8;
  border-radius: 15px;
  /* margin-bottom: 6em; */
}
.popup-btn:hover {
  box-shadow: 1px 3px #d6d5d5;
}

.popup-btn a {
  color: white;
  text-decoration: none;
}
