.mainPage {
  width:100%;
  height: 1200px;
  
  background-image: url("https://github.com/lpattersonn/pocketlawyer/blob/main/public/photo-1513530534585-c7b1394c6d51.jpeg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginMain .form{

  display:flex;
  flex-direction: column;
  /* border: 4px solid rgb(242, 238, 238); */
  width: 35%;
  height:340px;
   /* padding-bottom: 5em; */
   padding-left: 5em;
   padding-right: 3em;
   padding-top: 5em;
   margin-left:10em;
   /* margin-bottom: 4em; */
   /* margin-top: 15em; */
   background-image: linear-gradient(
    to bottom right,
    rgb(77, 155, 164),
    #1a62ff,
    #8b3dff
  );
  box-shadow: 10px 10px 10px rgb(98, 114, 167);
   margin-right: 30em; 
   border-radius: 25px;
 }
 
  .loginMain{
   display: flex;
   flex-direction: column;
   /* padding: 5em; */
   justify-content: center;
   background-image: url("https://github.com/lpattersonn/pocketlawyer/blob/main/public/photo-1513530534585-c7b1394c6d51.jpeg?raw=true");
   background-repeat: no-repeat;
   background-size: cover; 
   
 }
 
 .loginMain div{
   margin: 1em; 
 } 
 
 .loginMain input {
   width: 90%;
   height: 40px;
 }
 
 
 .loginMain .data p {
   margin-left: 6em;
   font-size: 35px;
   font-weight: bold;
 }
   
 .loginMain .data label {
   margin-right: 5em;
   font-weight: bold;
 }

 .logreg {
   display:flex;
     flex-direction: row;
     justify-content: center;
 }

 .logreg div {
   padding: 5px;
 }
 
 
 .loginMain .data input {
   margin-right: 2em;
   margin-bottom: 1.2em;
   font-size: larger;
 }
 
 .loginMain .data button {
   margin-top: 0.7em;
   /* margin-bottom: 3.5em; */
   /* margin-left: 12em; */
   width: 110px;
   height: 40px;
   font-weight: bold;
   font-size: large;  
   border-radius: 15px;
 }

 
 .logo img {
  width: 350px;
  height: 300px;
  margin-top: 6em;  
  padding-left: 51em;
}
 
