.message-body {
  border: 1px solid black;
  width: 700px;
  height: 500px;
}

.box-content {
  margin-top: -6%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box {
  color: black;
  margin: 1em;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box div {
  width: 32%;
  height: 90%;
  border-radius: 25px;
  /* padding: 10em; */
  background-color: #f0f0f0;
}

.box div:hover {
  box-shadow: 1px 3px #d6d5d5;
}

.box-content h2 {
  color: black;
}

.box-div_two {
  color: black;
  margin: 1em;
  height: 90%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-div_two div {
  width: 32%;
  height: 100%;
  border-radius: 25px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-div_two div:hover {
  box-shadow: 1px 3px #d6d5d5;
}

.box_div {
  margin-left: 1px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
