.message-body {
  border: 1px solid black;
  width: 700px;
  height: 500px;
}

.box-content {
  padding-top: 2%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  height: 90%;
  z-index: 1;
}

.box div {
  width: 32%;
  height: 90%;
  border-radius: 25px;
  /* padding: 10em; */
  background-color: #f0f0f0;
}

.box div:hover {
  box-shadow: 1px 3px #d6d5d5;
}

.box-content h2 {
  color: black;
}

.box-div_two {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  height: 90%;
  z-index: 1;
}

.box-div_two div {
  width: 32%;
  height: 90%;
  border-radius: 25px;
  /* padding: 10em; */
  background-color: #f0f0f0;
  z-index: 1;
}

.box-div_two div:hover {
  box-shadow: 1px 3px #d6d5d5;
}
