/* Nav */

#nav {
  font-family: sans-serif;
  border-bottom: 1px solid rgb(237, 235, 235);
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 0 10px whitesmoke;
}

nav .logo {
  width: 100px;
  height: 60px;
  font-size: 25px;
}

nav li {
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

#title {
  padding-left: 1em;
  margin-top: 10px;
  padding-bottom: 5px;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.loginArea {
  margin-top: 15px;
  padding-bottom: 10px;
}

#title ul {
  padding-top: 5px;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
}

ul li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

#login {
  padding-right: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.login div{
  display: inline;
  padding: 5px;
}

button {
  width: 70px;
}
