/* Nav */

#nav {
  font-family: sans-serif;
  border-bottom: 1px solid rgb(237, 235, 235);
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 0 10px whitesmoke;
}

nav .logo {
  width: 100px;
  height: 60px;
  font-size: 25px;
}

nav li {
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

#title {
  padding-left: 1em;
  margin-top: 7px;
  padding-bottom: 5px;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
}

.loginArea {
  margin-top: 23px;
  font-size: 18px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-right: 1.4em;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.loginArea p {
  padding-right: 10px;
}

.loginDiv img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

#title ul {
  padding-top: 5px;
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

nav a {
  list-style: none;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  padding-right: 5px;
}
