/* Main */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav */
nav {
  background: #61dafb;
}
 .nav {
   position: fixed;
   top: 0;
   margin: 0px;
   padding: 0px;
   width: 100%;
   display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .nav-list {
   display: flex;
     flex-direction: row;
 }
/* Sidebar */
#side-bar {
  height: 700px;
  width: 250px;
  border: 1px solid grey;
  overflow: auto;
}

/* Mainbody */
.mainbody {
  width: 400px;
  padding-left: 40px;

}

/* Body */
body {
  padding-top: 30px;
  display: flex;
    flex-direction: row;
}